/*------------------------------------------------------------------

    [Table of contents]

    1.0 Global
        1.1. Typography
        1.2. Buttons
    2.0 Utility
    3.0 AB_Context
    	3.1 AB_Tool_Title
    	3.2 AB_Progress
    	3.3 AB_Segments
	4.0 AB_Main
    5.0 Browser-Specific
    6.0 Responsive

------------------------------------------------------------------*/

/*------------------------------------------------------------------
	
	1.0 Global

------------------------------------------------------------------*/
body {
	overflow: hidden;
}
#ab_framework {
	position: relative;
	overflow: visible;
	background-color: #efefef;
	min-height: calc(100vh - 75px);
}

/*------------------------------------------------------------------
	
	2.0 Utility

------------------------------------------------------------------*/
.text_mid_grey {
	color: #999;
}

/*------------------------------------------------------------------
	
	3.0 AB_Context

------------------------------------------------------------------*/
#ab_context {
	position: relative;
	background-color: #FFF;
	min-height: calc(100vh - 75px);
	border-right: 1px solid #CCC;
}
#ab_context:before {
    content: '';
    display: block;
    position: absolute;
    background-color: #FFF;
    width: 9999px;
    height: 100%;
    right: 100%;
    top: 0;
}
	/*------------------------------------------------------------------
		3.1 AB_Tool_Title
	------------------------------------------------------------------*/
	#ab_tool_name,
	#ab_tool_pictogram {
		display: inline-block;
		vertical-align: bottom;
		line-height: initial;
	}
	#ab_tool_pictogram {
		margin-right: 8px;
	}
	#ab_tool_pictogram img {
		width: 40px;
	}
	/*------------------------------------------------------------------
		3.2 AB_Progress
	------------------------------------------------------------------*/
	#ab_progress_bar {
		/* Reset the default appearance */
		-webkit-appearance: none;
		appearance: none;	
		width: 80%;
		background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSd3aGl0ZScgLz4KICA8cmVjdCB4PScwJyB5PScwJyB3aWR0aD0nMycgaGVpZ2h0PSczJyBmaWxsPSdibGFjaycgLz4KPC9zdmc+Cg==");
		background-color: #999;
		background-blend-mode: screen;
		background-size: 7px;
		border-radius: 1px;				
	}
	#ab_progress_bar::-webkit-progress-bar {
		background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSd3aGl0ZScgLz4KICA8cmVjdCB4PScwJyB5PScwJyB3aWR0aD0nMycgaGVpZ2h0PSczJyBmaWxsPSdibGFjaycgLz4KPC9zdmc+Cg==");
		background-color: #999;
		background-blend-mode: screen;
		background-size: 7px;
		border-radius: 1px;			
	}
	#ab_progress_bar::-webkit-progress-value {
		background-color: #F0AB00;
	}
	#ab_progress_bar::-moz-progress-bar {
		background-color: #F0AB00;
	}
	/*------------------------------------------------------------------
		3.3 AB_Segments
	------------------------------------------------------------------*/
	#ab_segments .segment_list {
		list-style-type: none;
	}
	#ab_segments .segment_list li {
		counter-increment: segment;
		position: relative;
	}
	#ab_segments .segment_list li,
	#ab_segments .segment_list li:before,
	#ab_segments .segment_list .question_count {
		font-weight: 600;
		color: #999;
	}
	#ab_segments .segment_list li:before {
		content: counter(segment) "";
		margin-right: 16px;
	}
	#ab_segments .segment_name {
		display: inline-block;
	}
	#ab_segments .segment_list .question_count {
		position: absolute;
		right: 16px;
	}
