/*------------------------------------------------------------------

    [Table of contents]
	
	These styles should apply to tools within the AB framework.

	1.0 Framework UI
	2.0 AB__Context
		2.1 AB__Tool_Title
		2.2 AB__Progress
		2.3 AB__Segments
			2.3.1 AB__Unsegmented
			2.3.2 Icons
			2.3.3 Progression styles
	3.0 AB__Main
		3.1 AB__Callout
		3.2 AB__User_Input
			3.2.1 Boolean
			3.2.2 Checkboxes
	4.0 Results page
		4.1 AB__Results_Visual


------------------------------------------------------------------*/	

/*------------------------------------------------------------------
	
	1.0 Framework UI

------------------------------------------------------------------*/
.ab__framework.ab__question_screen {
	position: relative;
	overflow: visible;
	background-color: #EFEFEF;
	padding-bottom: 120px;
}
@media (min-width: 992px) {
	.ab__framework.ab__question_screen {
		min-height: calc(100vh - 75px);
		padding-bottom: 0;
	}
}
/*------------------------------------------------------------------
	
	2.0 AB__Context

------------------------------------------------------------------*/
.ab__context {
	position: relative;
	background-color: #FFF;
	padding-top: 24px;
	padding-bottom: 24px;			
}
.ab__context:before {
	content: '';
	position: absolute;
	left: -999px;
	top: 0;
	width: 9999px;
	height: 100%;
	background: #FFF;
	border-bottom: 1px solid #CCC;
	z-index: -1;
}
@media (min-width: 992px) {
	.ab__context {
		min-height: calc(100vh - 75px);
		border-right: 1px solid #CCC;
		padding-left: 30px;
		padding-top: 32px;
	}
	.ab__context:before {
		content: '';
		display: block;
		position: absolute;
		background-color: #FFF;
		border-bottom: none;
		width: 9999px;
		height: 100%;
		right: 100%;
		left: auto;
		top: 0;
	}

}
	/*------------------------------------------------------------------
		2.1 AB__Tool_Title
	------------------------------------------------------------------*/
	.ab__tool_title h5 {
		line-height: 1;
		color: #333;
	}
	.ab__tool_title {
		margin-bottom: 24px;
	}
	.ab__tool_name,
	.ab__tool_pictogram {
		display: inline-block;
		vertical-align: bottom;
		line-height: initial;
	}
	.ab__tool_pictogram {
		margin-right: 8px;
	}
	.ab__tool_pictogram img {
		width: 24px;
	}
	@media (min-width: 992px) {
		.ab__tool_title {
			margin-bottom: 32px;
		}	
		.ab__tool_pictogram img {
			width: 32px;
		}			
	}	
	/*------------------------------------------------------------------
		2.2 AB__Progress
	------------------------------------------------------------------*/
	.ab__progress {
		position: relative;
		margin-bottom: 24px;
	}
	.ab__progress_bar {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;	
		width: 80%;
		background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSd3aGl0ZScgLz4KICA8cmVjdCB4PScwJyB5PScwJyB3aWR0aD0nMycgaGVpZ2h0PSczJyBmaWxsPSdibGFjaycgLz4KPC9zdmc+Cg==");
		background-color: #999;
		background-blend-mode: screen;
		background-size: 7px;
		border-radius: 1px;	
		box-shadow: none;
		border: none;			
	}
	.ab__progress_bar::-webkit-progress-bar {
		background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSd3aGl0ZScgLz4KICA8cmVjdCB4PScwJyB5PScwJyB3aWR0aD0nMycgaGVpZ2h0PSczJyBmaWxsPSdibGFjaycgLz4KPC9zdmc+Cg==");
		background-color: #999;
		background-blend-mode: screen;
		background-size: 7px;
		border-radius: 1px;			
	}
	.ab__progress_bar::-webkit-progress-value {
		background-color: #F0AB00;
		transition: width .4s cubic-bezier(0.45, 0.05, 0.55, 0.95);
	}
	.ab__progress_bar::-moz-progress-bar {
		background-color: #F0AB00;
		transition: width .4s cubic-bezier(0.45, 0.05, 0.55, 0.95);		
	}
	.ab__progress_text {
		position: absolute;
		right: 0;
		bottom: 0;
		font-weight: 600;
		color: #F0AB00;
		font-size: 24px;
		line-height: 1;
	}	
	.ab__progress_percent {
		font-size: 12px;
	}
	@media (min-width: 992px) {
		.ab__progress {
			margin-bottom: 32px;
		}
		.ab__progress_text {
			left: 90%;
		}
	}
	/*------------------------------------------------------------------
		2.3 AB__Segments
	------------------------------------------------------------------*/
	.ab__segments .segment_list {
		list-style-type: none;
	}
	.ab__segments .segment_list li {
		counter-increment: segment;
		position: relative;
		display: block;	
		margin-bottom: 0;
	}				
	.ab__segments li:before,
	.ab__segments .segment_icon {
		font-weight: 600;
	}
	.ab__segments .segment_name {
		font-weight: 600;
		display: inline-block;
		width: 90%;
		padding-right: 15px;			
	}
	@media (min-width: 992px) {
		.ab__segments {
			margin-bottom: 16px;
		}
		.ab__segments .segment_list li {
			margin-bottom: 16px;
		}
	}
		/*------------------------------------------------------------------
			2.3.1 AB__Segmented
		------------------------------------------------------------------*/	
		@media (min-width: 1200px) {
			.ab__unsegmented {
				width: 80%;
			}
		}
		/*------------------------------------------------------------------
			2.3.2 Icons
		------------------------------------------------------------------*/	
		.ab__segments .segment.current .segment_name:before {
			content: '\f0da';
			font-family: 'Font Awesome 5 Free';
			font-size: 16px;
			margin-right: 4px;
		}
		.ab__segments .segment_icon {
			width: 24px;
			height: 24px;
			font-size: 14px;
			line-height: 1;
			text-align: center;
			display: inline-block;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);			
		}
		.ab__segments .segment_icon .fas,
		.ab__segments .segment_icon .far {			
			font-size: 24px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		.ab__segments .segment_questions {
			position: relative;
			top: 3px;
		}
		.ab__segments .segment_icon .fas.fa-check {
			position: absolute;
			z-index: 10;
			top: 50%;
			color: #FFF;
			font-size: 12px;
			left: 50%;
			transform: translate(-50%, -50%);
			padding-bottom: 4px;			    
		}
		@media (min-width: 992px) {
			.ab__segments .segment_icon {
				left: 90%;
			}
		}
		/*------------------------------------------------------------------
			2.3.3 Progression styles
		------------------------------------------------------------------*/	
		/* Future segment */
		.ab__segments li.segment.future .segment_name,
		.ab__segments li.segment.future:before,
		.ab__segments li.segment.future .segment_icon {
			color: #CCC;
		}
		/* Current/Completed segment */
		.ab__segments li.segment.current .segment_name,
		.ab__segments li.segment.current:before,
		.ab__segments li.segment.current .segment_icon,		
		.ab__segments li.segment.completed .segment_name,
		.ab__segments li.segment.completed:before,
		.ab__segments li.segment.completed .segment_icon {
			color: #F0AB00;
		}
		/* Change icon based on segment status */
		.ab__segments li.segment.future .fas.fa-comment-alt,
		.ab__segments li.segment.future .fa-check,
		.ab__segments li.segment.current .fa-check,
		.ab__segments li.segment.current .fas.fa-comment-alt,
		.ab__segments li.segment.completed .segment_questions {
			display: none;
		}
		@media (max-width: 991px) { 
			.ab__segments .segment.current .segment_name:before,
			.ab__segments li.segment.future,
			.ab__segments li.segment.completed {
				display: none;
			}
		}

	/*------------------------------------------------------------------
		2.4 AB__Teaser
	------------------------------------------------------------------*/
	.ab__teaser h5 {
		position: relative;
		font-weight: 600;
		color: #CCC;
	}
	.ab__teaser .dotted_line {
		width: 97%;
	}
	.ab__teaser .teaser_icon {
		width: 24px;
		height: 24px;
		font-size: 14px;
		line-height: 1;
		text-align: center;
		display: inline-block;
		position: absolute;
		left: 90%;
		top: 50%;
		transform: translateY(-50%);
	}
	.ab__teaser .teaser_icon .far {
		font-size: 24px;
		color: #CCC;		
	}
	@media (max-width: 991px) { 
		.ab__teaser {
			display: none;
		}
	}		

/*------------------------------------------------------------------
	
	3.0 AB__Main

------------------------------------------------------------------*/
.ab__main {
	padding-top: 32px;
}
.ab__main .screen_counter {
	color: #F0AB00;
}
@media (min-width: 992px) { 
	.ab__main {
		padding-top: 88px;
	}
}
	/*------------------------------------------------------------------
		3.1 AB__Callout
	------------------------------------------------------------------*/	
	.ab__callout {
		background-color: #fff;
		border: 1px solid #CCC;
		border-left: 5px solid #0078c9;
		border-radius: 1px;
	}
	.ab__callout .col.ab__callout_thumbnail img {
		max-width: 82px;
		margin: 0;
	}
	.ab__callout .col {
		display: table-cell;
		float: none;
		vertical-align: middle;
	}
	@media (min-width: 992px) {
		.ab__callout {
			display: table;
		}
		.ab__callout .col {
			display: table-cell;
			float: none;
			vertical-align: middle;
		}	
		.ab__callout .col.ab__callout_content {
			text-align: left;
		}
	}
	/*------------------------------------------------------------------
		3.2 AB__User_Input
	------------------------------------------------------------------*/		
	.ab__user_input ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: stretch;
		align-content: flex-start;		
		padding-left: 0;
		margin-bottom: 0;
		list-style: none;
	}
	.ab__user_input ul.choice_full_width .choice {
		width: 100%;		
	}
	.ab__user_input .choice {
		position: relative;
		font-size: 22px;
		padding: 16px;	
		background-color: #FFF;
		border: 1px solid #CCC;
		border-radius: 1px;
		cursor: pointer;
		transition: 0.1s border-color cubic-bezier(0.45, 0.05, 0.55, 0.95);
	}
	.ab__user_input .choice .centerer {
		display: inline-block;
	}
	.ab__user_input ul.choice_flex_width .choice {
		margin-right: 24px;	
	}
	/*------------------------------------------------------------------
		3.2.1 Boolean
	------------------------------------------------------------------*/		
	.ab__user_input .boolean {
		flex-basis: 200px;
		text-align: center;
	}
	.ab__user_input .choice:hover {
		border-color: #F0AB00;
	}
	.ab__user_input .choice.selected {
		color: #F0AB00;
		border-color: #F0AB00;
	}
	.ab__user_input .choice:before {
		padding-right: 4px;
		animation: iconInLeft .1s;
		-moz-animation: iconInLeft .1s; /* Firefox */
		-webkit-animation: iconInLeft .1s; /* Safari and Chrome */		
	}	
	.ab__user_input .choice.selected:before {
		content: '\f00c';
		font-size: 16px;
		font-family: 'Font Awesome 5 Free';
		font-weight: 600;
		color: #F0AB00;	
	}	
	.ab__user_input .choice.selected:after {
		content: '';
		position: absolute;
		z-index: -1;		
	}	
	@keyframes iconInLeft
	{
		from {opacity: 0;} 
		to {opacity: 100%;} 
	}
	@-moz-keyframes iconInLeft
	{
		from {opacity: 0;} 
		to {opacity: 100%;} 
	}
	@-webkit-keyframes iconInLeft
	{
		from {opacity: 0;} 
		to {opacity: 100%;} 
	}	
	/*------------------------------------------------------------------
		3.2.2 Checkboxes
	------------------------------------------------------------------*/	


/*------------------------------------------------------------------
	
	4.0 Results page

------------------------------------------------------------------*/
	/*------------------------------------------------------------------
		4.1 AB__Results_Visual
	------------------------------------------------------------------*/
	.ab__result .result_visual {
		max-width: 219px; /* Half of @2x width */
	}




